[submodule "docs/themes/hugo_theme_adam_eve"]
	path = docs/themes/hugo_theme_adam_eve
	url = https://github.com/blankoworld/hugo_theme_adam_eve.git
[submodule "themes/hugo_theme_adam_eve"]
	path = themes/hugo_theme_adam_eve
	url = https://github.com/blankoworld/hugo_theme_adam_eve
